.missionTitle {
  font-size: 40px;
  color: #004f54;
}

.missionParagraph {
  font-size: 20px;
  margin-top: 15px;
  color: #004f54;
}

.missionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;

  /* margin: 2em 2em 5em 2em; */
  width: 100vw;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 3em;
  width: 70vw;
}

.imageStyling {
  height: 350px;
  width: 350px;
  margin-right: 4rem;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}


@media (max-width: 800px) {
  .imageStyling {
    display: none;
  }
  .missionParagraph {
    font-size: 14px;
    margin-top: 15px;
    color: #004f54;
  }
  .missionTitle {
    font-size: 23px;
    color: #004f54;
  }
  .missionContainer (max-width) {
    margin: 0em 0em 0em 1.25em;
    
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    margin-right: 1.25em;
  }
}
