.missionTitle {
  font-size: 40px;
  color: #004f54;
}

.missionParagraph {
  font-size: 16px;
  margin-top: 15px;
  color: #004f54;
}

.missionContainer {
  margin: 2em 2em 5em 2em;
  display: flex;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 6em;
}

.imageStyling {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

@media (max-width: 750px) {
  .imageStyling {
    display: none;
  }
  .missionParagraph {
    font-size: 14px;
    margin-top: 15px;
    color: #004f54;
  }
  .missionTitle {
    font-size: 23px;
    color: #004f54;
  }
  .missionContainer {
    margin: 0em 0em 0em 1.25em;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    margin-right: 1.25em;
  }
}
