@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  width: 100vw;

  background-color: #f15100;
}

img {
  border: none;
}

.geosearch {
  background-color: rgba(255, 255, 255, 0.66);
}

.leaflet-container {
  margin-right: 2rem;
  border-radius: 15px;
  border: 1px solid #004f54;
}
