@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  width: 100vw;
  background-color: brown;
}

img {
  border: none;
}

.geosearch {
  background-color: rgba(255, 255, 255, 0.66);
}
.leaflet-marker-icon {
  border: none;
}




