@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  width: 100vw;
}

img {
  border: none;
}

.geosearch {
  background-color: #E6E5E4;
}

.leaflet-container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  border-radius: 15px;
  border: 2px solid #004f54;
}
