.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: #006C72;

}

.Carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 500px;
    margin:50px 0px 100px 0px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.imageCSS {
    border-radius: 25px;
    height: 350px;
    width: 500px; 
  
}